@using System.Globalization
@model Cart

<h2>Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Item</th>

        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.CartLines)
    {
        <tr>
            <td class="text-center">
                <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                    <input type="hidden" name="id"
                           value="@line.Product.ProductId"/>
                    <input type="number" required min="1" name="Quantity" value="@line.Quantity" automation="input-quantity"/>
                    <button type="submit" class="btn btn-sm btn-danger" automation="button-updatequantity">
                        Update
                    </button>
                </form>
            </td>
            <td class="text-left">@line.Product.Name</td>
            <td class="text-right"> @((line.Product.Price - line.Product.DiscountAmount).ToString("c", CultureInfo.CreateSpecificCulture("sv-SE")))</td>
            <td class="text-right">
                @((line.Quantity * (line.Product.Price - line.Product.DiscountAmount)).ToString("c", CultureInfo.CreateSpecificCulture("sv-SE")))
            </td>
            <td>
                <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="Id"
                           value="@line.Product.ProductId"/>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
            @Model.CalculateTotal().ToString("c", CultureInfo.CreateSpecificCulture("sv-SE"))
        </td>
    </tr>
    </tfoot>
</table>
<div class="text-center">
    <for-row>
        <a class="btn btn-primary" automation="button-checkout-require" asp-action="LoadPaymentMenu" asp-route-requireBankId="true" asp-route-isInternational="false" asp-controller="CheckOut">
            Checkout (Require BankId)
        </a>
        <a class="btn btn-primary" automation="button-checkout" asp-action="LoadPaymentMenu" asp-route-requireBankId="false" asp-route-isInternational="false" asp-controller="CheckOut">
            Checkout
        </a>
        <a class="btn btn-primary" automation="button-checkout-international" asp-action="LoadPaymentMenu" asp-route-requireBankId="false" asp-route-isInternational="true" asp-controller="CheckOut">
            Checkout (International)
        </a>
    </for-row>
</div>